EditCellScreen {
    align: center middle;
}

#quitdialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $panel;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    padding: 0 1;
    width: 60;
    border: thick $background 80%;
    background: $panel 100%;
}

Button {
    width: 100%;
}

QuitScreen {
    align: center middle;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}